.center {
    text-align: center;
}

.table td, .table th {
    text-align: center;
}

td.left {
    text-align: left;
}

.toolbar-fixed {
    position: fixed;
    top: 40px;
    z-index: 100;
}

#toolbar {
    background: #F0F0F0;
    border-bottom: 1px solid #dedede;
    color: #0C192E;
    text-shadow: 0 1px 0 #FFF;
    margin-bottom: 10px;
    min-height: 51px;
    padding: 10px;
}

.toolbar-fixed + .container-fluid {
    padding-top: 86px;
}